:root {
  --title-color: #212121;
  --main-color: #757575;
  --accent-color: #2196f3;
  --footer-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: #ffffff;
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}

/* Header */

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-dark {
  color: var(--title-color);
}
.logo-light {
  color: #ffffff;
}

.navi-link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navi-link:hover,
.navi-link:focus,
.navi-link:active {
  color: var(--accent-color);
}
.contact-link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* section order service */
.order-service {
  background-color: #2f303a;
}
.title-service {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-service {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.button-service:hover,
.button-service:focus {
  background-color: #2196f380;
}

/* features */
.features-main {
  display: none;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.features-content {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* work */
.work-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
/* team */
.team {
  background-color: #f5f4fa;
}
.team-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-content {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* portfolio menu */
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  border-radius: 4px;
  color: #ffffff;
}
.projects-main {
  display: none;
}
.projects-link {
  text-decoration: none;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.projects-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* footer */

.footer-section {
  background-color: #2f303a;
}
.address-link {
  color: var(--footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.geo {
  color: #ffffff;
}

.address-link:hover,
.address-link:focus,
.geolocation:hover,
.geolocation:focus {
  color: var(--accent-color);
}
